    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
      }
      .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin .checkbox {
        font-weight: normal;
      }
      .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .divLogin{
        border-radius:10px;
        -webkit-box-shadow: 9px 7px 10px rgba(50, 50, 50, 0.22);
        -moz-box-shadow: 9px 7px 10px rgba(50, 50, 50, 0.22);
        box-shadow: 9px 7px 10px rgba(50, 50, 50, 0.22);
      }
    </style>



<div class="container col-md-4 col-md-offset-4  divLogin" ng-controller="HomeLoginController">

  <form class="form-signin" name="formLogin">
    <h2 class="form-signin-heading text-center">Login</h2>

    <div class="form-group" ng-class="{ 'has-error' : formLogin.username.$invalid && !formLogin.username.$pristine }">
        <label ng-show="formLogin.username.$dirty">Usuário</label>
        <input type="text" name="username" class="form-control" placeholder="Usuário" ng-model="vm.user.username" required ng-readonly="spinnerActive">
        <p ng-show="formLogin.username.$invalid && !formLogin.username.$pristine" class="help-block">Campo Obrigatório</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : formLogin.password.$invalid && !formLogin.password.$pristine }">
        <label ng-show="formLogin.password.$dirty">Senha</label>
        <input type="password" name="password" class="form-control" placeholder="Senha" ng-model="vm.user.password" required ng-readonly="spinnerActive">
        <p ng-show="formLogin.password.$invalid && !formLogin.password.$pristine" class="help-block">Campo Obrigatório</p>
    </div>
  
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.login(vm.user)" ng-disabled="formLogin.$invalid || spinnerActive">Entrar</button>
  </form>

</div>